{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='build/css/home.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="container text-center index-container">
    <div id="model-buttons">
      <div>
        <a id="classifier-models-button" href="/processor/manage_classifiers" class="btn linked-button-card" role="button" aria-pressed="true">Modelos de Clasificación</a>
      </div>
      <div>
        <a id="regressor-models-button" href="/processor/manage_regressors" class="btn linked-button-card" role="button" aria-pressed="true">Modelos de Regresión</a>
      </div>
    </div>
    <div id="home-info">
      <h1>Modelos de Clasificación y Regresión con Random Forest</h1>
      <hr>
      <div  id="home-tree_img">
        <img src="{{ url_for('static', filename='images/home-tree-1.png') }}" />
      </div>
      <h2>Índice</h2>
      <ul>
        <li><a href="#introduccion">Introducción</a></li>
        <li><a href="#clasificacion-con-random-forest">Clasificación con Random Forest</a></li>
        <li><a href="#regresion-con-random-forest">Regresión con Random Forest</a></li>
        <li><a href="#ejemplos-de-aplicacion">Ejemplos de aplicación</a></li>
        <li><a href="#conclusion">Conclusión</a></li>
      </ul>
      <h2 id="introduccion">Introducción</h2>
      <p>Random Forest es un algoritmo de aprendizaje automático que combina múltiples árboles de decisión para mejorar la precisión y robustez de los modelos de clasificación y regresión.</p>
      <h2 id="clasificacion-con-random-forest">Clasificación con Random Forest</h2>
      <h3>Cómo funciona</h3>
      <p>El algoritmo de Random Forest para clasificación funciona de la siguiente manera:</p>
      <ol>
        <li>Se crea un conjunto de árboles de decisión, cada uno con una muestra aleatoria de características y observaciones.</li>
        <li>Cada árbol de decisión se entrena con una parte del conjunto de datos y se utiliza para predecir la clase de las observaciones.</li>
        <li>Las predicciones de cada árbol se combinan para obtener una predicción final.</li>
      </ol>
      <h3>Ventajas</h3>
      <ul>
        <li>Robustez: Random Forest es resistente a la sobreajuste y puede manejar grandes conjuntos de datos.</li>
        <li>Flexibilidad: Puede manejar diferentes tipos de características, incluyendo numéricas y categóricas.</li>
        <li>Interpretabilidad: Los árboles de decisión individuales pueden ser interpretados para entender las relaciones entre las características y la clase.</li>
      </ul>
      <h3>Desventajas</h3>
      <ul>
        <li>Computacionalmente costoso: El entrenamiento de un modelo de Random Forest puede ser lento para grandes conjuntos de datos.</li>
        <li>Sensibilidad a la elección de hiperparámetros: La elección de los hiperparámetros, como el número de árboles y la profundidad máxima, puede afectar la precisión del modelo.</li>
      </ul>
      <h2 id="regresion-con-random-forest">Regresión con Random Forest</h2>
      <h3>Cómo funciona</h3>
      <p>El algoritmo de Random Forest para regresión funciona de la siguiente manera:</p>
      <ol>
        <li>Se crea un conjunto de árboles de decisión, cada uno con una muestra aleatoria de características y observaciones.</li>
        <li>Cada árbol de decisión se entrena con una parte del conjunto de datos y se utiliza para predecir el valor continuo.</li>
        <li>Las predicciones de cada árbol se combinan para obtener una predicción final.</li>
      </ol>
      <h3>Ventajas</h3>
      <ul>
        <li>Robustez: Random Forest es resistente a la sobreajuste y puede manejar grandes conjuntos de datos.</li>
        <li>Flexibilidad: Puede manejar diferentes tipos de características, incluyendo numéricas y categóricas.</li>
        <li>Interpretabilidad: Los árboles de decisión individuales pueden ser interpretados para entender las relaciones entre las características y la variable objetivo.</li>
      </ul>
      <h3>Desventajas</h3>
      <ul>
        <li>Computacionalmente costoso: El entrenamiento de un modelo de Random Forest puede ser lento para grandes conjuntos de datos.</li>
        <li>Sensibilidad a la elección de hiperparámetros: La elección de los hiperparámetros, como el número de árboles y la profundidad máxima, puede afectar la precisión del modelo.</li>
      </ul>
      <h2 id="ejemplos-de-aplicacion">Ejemplos de aplicación</h2>
      <ul>
        <li>Clasificación de imágenes: Random Forest se puede utilizar para clasificar imágenes en diferentes categorías, como objetos, personas o lugares.</li>
        <li>Predicción de precios de viviendas: Utilizar características como número de habitaciones, superficie, ubicación, etc. para predecir el precio de una vivienda.</li>
        <li>Predicción de demanda de productos: Utilizar características como temporada, día de la semana, festividades, etc. para predecir la demanda de un producto.</li>
        <li>Predicción de resultados deportivos: Utilizar características como estadísticas de equipo, lesiones, condiciones climáticas, etc. para predecir el resultado de un partido.</li>
      </ul>
      <h2 id="conclusion">Conclusión</h2>
      <ul>
         En resumen, los modelos de clasificación y regresión con Random Forest son herramientas poderosas para analizar y predecir resultados en una variedad de campos. Su capacidad para manejar grandes conjuntos de datos y su robustez frente a la sobreajuste los hacen ideales para aplicaciones en la vida real.
      </ul>
      <span>Para más información <a href="https://cienciadedatos.net/documentos/py08_random_forest_python" target="_blank">haga click aquí</a></span>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
