{% extends 'base_site.html' %}

{% block title %}
  Add Model Classifier
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='build/css/add_model.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 add-model-container">
          <div class="x_panel">
            <div class="x_title">
              <h2 class="common_header" id="classifier-title"></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="container is-widescreen">
                <form class="container" data-parsley-validate method="post" enctype="multipart/form-data">
                  <section class="row justify-content-md-center form-fields">
                    {% if status != 'Initial' %}
                      <input type="text" id="model_id" name="model_id" value="{{ model_id }}" data-status="{{ status }}" hidden />
                    {% endif %}
                    {% if status == 'Create' %}
                      <div class="progress">
                        <div id="progress_bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                      </div>
                      <div id="progress-message"></div>
                    {% else %}
                      {% if status == 'Initial' %}
                        <!-- Name -->
                        <div class="col col-lg-6 custom-col">
                          <span style="color: red;" class="required-field-info"></span>
                          <input class="form-control custom-input" id="{{form.name.id}}" name="name" placeholder="{{form.name.label.text}}" type="text" value="{{form.name.default}}"/>
                        </div>
                        {% if type == 'add' %}
                          <!-- Model -->
                          <div class="col col-lg-6 custom-col">
                            <span style="color: red;" class="required-field-info"></span>
                            <input accept="{{form.model.render_kw.accept}}" class="form-control custom-file-input" id="{{form.model.id}}" name="model" placeholder="{{form.model.label.text}}" type="file">
                            <label class="form-control custom-file-input" for="{{form.model.id}}">
                              <p id="{{form.model.id}}-holder">{{ form.model.label.text }}</p>
                            </label>
                          </div>
                        {% endif %}
                        <!-- Description -->
                        <div class="col col-lg-6 custom-col">
                          <span style="color: green;" class="optional-field-info"></span>
                          <textarea class="form-control custom-input" id="{{form.description.id}}" name="description" placeholder="{{form.description.label.text}}">{{form.description.default}}</textarea>
                        </div>
                        {% if type == 'add' %}
                          <!-- Dataset -->
                          <div class="col col-lg-6 custom-col">
                            <span style="color: red;" class="required-field-info"></span>
                            <input accept="{{form.dataset.render_kw.accept}}"  class="form-control custom-file-input" id="{{form.dataset.id}}" name="dataset"
                                    placeholder="{{form.dataset.label.text}}" type="file" />
                            <label class="form-control custom-file-input" for="{{form.dataset.id}}">
                              <p id="{{form.dataset.id}}-holder">{{ form.dataset.label.text }}</p>
                            </label>
                          </div>
                        {% endif %}

                      {% elif status == 'Second' %}
                        <div class="col custom-col">
                          <label for="target-selector" id="target-selector-label"></label>
                          <select name="target" id="target-selector" class="form-control custom-input form-select form-select-lg mb-3" aria-label="Large select example">
                            {% for option in form %}
                              <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}
                          </select>
                          <div class="col custom-col">
                            {% if form|length > 1 %}
                              <div class="form-check form-switch" style="margin: 1rem; margin-bottom: 3rem;">
                                <input class="form-check-input" type="checkbox" role="switch" id="index-selector" name="index">
                                <label class="form-check-label" for="index-selector" id="index-selector-label"></label>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      {% elif status == 'Add' %}
                        <h5 class="q-vars-header" id="description-title"></h5>
                        {% for var in variables %}
                          <div class="col col-lg-6 custom-col">
                            <label>{{ var }}</label>
                            <textarea class="form-control custom-input description-text" name="{{ var }}"></textarea>
                          </div>
                        {% endfor %}
                        <h5 class="q-vars-header" id="q-vars-title"></h5>
                        {% for col in form %}
                          <input type="text" name="Q-Variable-{{ col.name }}" value="{{ col.name }}" hidden />
                          <div class="col col-lg-6 custom-col custom-qualitative-col">
                            <label>{{ col.name }}</label>
                            {% for var in col.variables %}
                              {% if col.values_on_current[loop.index-1]|string != var|string %}
                                <div class="col custom-col-no-media">
                                  <input class="form-control custom-input q-vars-text" oldValue="{{ var }}" type="text" name="{{ col.name }}-{{ var }}" value="{{ col.values_on_current[loop.index-1] }}" />
                                </div>
                              {% else %}
                                <div class="col custom-col-no-media">
                                  <input class="form-control custom-input q-vars-text" oldValue="{{ var }}" type="text" name="{{ col.name }}-{{ var }}" />
                                </div>
                              {% endif %}
                            {% endfor %}
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endif %}
                  </section>

                  <div class="navbar-right fet-navbar-right">
                    <button type="submit" id="cancel" style="display: none;" class="btn btn-warning submit" name="cancel" value="{{ status }}">
                      {% if status == 'Create' %}
                        {% if type == 'add' %}
                          <span id="classifier-cancel-btn"></span>
                        {% else %}
                          <span id="classifier-create-back-btn"></span>
                        {% endif %}
                      {% else %}
                        <span id="classifier-back-btn"></span>
                      {% endif %}
                    </button>
                    <button type="submit" id="submit" disabled class="btn btn-default submit" name="{{ status }}">
                      {% if status == 'Create' %}
                        <span id="classifier-accept-btn"></span>
                      {% elif status != 'Add' %}
                        <span id="classifier-next-btn"></span>
                      {% elif type != 'add' %}
                        <span id="classifier-modify-btn"></span>
                      {% else %}
                        <span id="classifier-create-btn"></span>
                      {% endif %}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='build/js/add_model.js') }}"></script>
  <script src="{{ url_for('static', filename='build/js/add_model_classifier.js') }}"></script>

  <script>
    (async()=>{
      const classifierTranslations = await t(["add-classifier"]);

      document.getElementById('classifier-title').innerHTML = classifierTranslations['title'] ?? 'classifier.title';

      const progressTranslations = classifierTranslations['progress'] ?? {};
      if (window.document.getElementById('progress-message')) window.document.getElementById('progress-message').innerHTML = progressTranslations['message-1'] ?? 'classifier.progress.message-1';

      const requiredInfo = window.document.getElementsByClassName('required-field-info');
      if(requiredInfo){
        for (const info of requiredInfo) {
          info.innerHTML = classifierTranslations['required'] ?? 'classifier.required';
        }
        const optionalInfo = window.document.getElementsByClassName('optional-field-info');
        for (const info of optionalInfo) {
          info.innerHTML = classifierTranslations['optional'] ?? 'classifier.optional';
        }
      }

      if (document.getElementById('target-selector-label')) document.getElementById('target-selector-label').innerHTML = classifierTranslations['target-selector'] ?? 'classifier.target-selector';
      if (document.getElementById('index-selector-label')) document.getElementById('index-selector-label').innerHTML = classifierTranslations['index-selector'] ?? 'classifier.index-selector';

      const descriptionsTranslations = classifierTranslations['descriptions'] ?? {};
      if (document.getElementById('description-title')) document.getElementById('description-title').innerHTML = descriptionsTranslations['title'] ?? 'classifier.descriptions.title';
      const qVarsTranslations = classifierTranslations['q-vars'] ?? {};
      if (document.getElementById('q-vars-title')) document.getElementById('q-vars-title').innerHTML = qVarsTranslations['title'] ?? 'classifier.q-vars.title';

      const descriptionTexts = window.document.getElementsByClassName('description-text');
      if(descriptionTexts){
        for (const text of descriptionTexts) {
          text.placeholder = descriptionsTranslations['placeholder'] ?? 'classifier.descriptions.placeholder';
        }
        const qVarsText = window.document.getElementsByClassName('q-vars-text');
        for (const text of qVarsText) {
          text.placeholder = `${qVarsTranslations['placeholder'] ?? 'classifier.q-vars.placeholder'}${text.getAttribute('oldValue')}`;
        }
      }


      if (document.getElementById('classifier-cancel-btn')) document.getElementById('classifier-cancel-btn').innerHTML = classifierTranslations['cancel-btn'] ?? 'classifier.cancel-btn';
      if (document.getElementById('classifier-create-back-btn')) document.getElementById('classifier-create-back-btn').innerHTML = classifierTranslations['back-btn'] ?? 'classifier.back-btn';
      if (document.getElementById('classifier-back-btn')) document.getElementById('classifier-back-btn').innerHTML = classifierTranslations['back-btn'] ?? 'classifier.back-btn';
      if (document.getElementById('classifier-accept-btn')) document.getElementById('classifier-accept-btn').innerHTML = classifierTranslations['accept-btn'] ?? 'classifier.accept-btn';
      if (document.getElementById('classifier-next-btn')) document.getElementById('classifier-next-btn').innerHTML = classifierTranslations['next-btn'] ?? 'classifier.next-btn';
      if (document.getElementById('classifier-modify-btn')) document.getElementById('classifier-modify-btn').innerHTML = classifierTranslations['modify-btn'] ?? 'classifier.modify-btn';
      if (document.getElementById('classifier-create-btn')) document.getElementById('classifier-create-btn').innerHTML = classifierTranslations['create-btn'] ?? 'classifier.create-btn';

    })();
  </script>
{% endblock %}
