{% extends 'base_site.html' %}

{% block title %}
  Add Model Classifier
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='build/css/add_model.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 add-model-container">
          <div class="x_panel">
            <div class="x_title">
              <h2 class="common_header">Cargar Modelo de Clasificación</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="container is-widescreen">
                <form class="container" data-parsley-validate method="post" enctype="multipart/form-data">
                  <section class="row justify-content-md-center form-fields">
                    {% if status != 'Initial' %}
                      <input type="text" id="model_id" name="model_id" value="{{ model_id }}" data-status="{{ status }}" hidden />
                    {% endif %}
                    {% if status == 'Create' %}
                      <div class="progress">
                        <div id="progress_bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                      </div>
                      <div id="progress-message">Creating Dataset Distributions</div>
                    {% else %}
                      {% if status == 'Initial' %}
                        <!-- Name -->
                        <div class="col col-lg-6 custom-col">
                          <span style="color: red;">*Requerido</span>
                          <input class="form-control custom-input" id="{{form.name.id}}" name="name" placeholder="{{form.name.label.text}}" type="text" value="{{form.name.default}}"/>
                        </div>
                        {% if type == 'add' %}
                          <!-- Model -->
                          <div class="col col-lg-6 custom-col">
                            <span style="color: red;">*Requerido</span>
                            <input accept="{{form.model.render_kw.accept}}" class="form-control custom-file-input" id="{{form.model.id}}" name="model" placeholder="{{form.model.label.text}}" type="file">
                            <label class="form-control custom-file-input" for="{{form.model.id}}">
                              <p id="{{form.model.id}}-holder">{{ form.model.label.text }}</p>
                            </label>
                          </div>
                        {% endif %}
                        <!-- Description -->
                        <div class="col col-lg-6 custom-col">
                          <span style="color: green;">*Opcional</span>
                          <textarea class="form-control custom-input" id="{{form.description.id}}" name="description" placeholder="{{form.description.label.text}}">{{form.description.default}}</textarea>
                        </div>
                        {% if type == 'add' %}
                          <!-- Dataset -->
                          <div class="col col-lg-6 custom-col">
                            <span style="color: red;">*Requerido</span>
                            <input accept="{{form.dataset.render_kw.accept}}"  class="form-control custom-file-input" id="{{form.dataset.id}}" name="dataset"
                                    placeholder="{{form.dataset.label.text}}" type="file" />
                            <label class="form-control custom-file-input" for="{{form.dataset.id}}">
                              <p id="{{form.dataset.id}}-holder">{{ form.dataset.label.text }}</p>
                            </label>
                          </div>
                        {% endif %}

                      {% elif status == 'Second' %}
                        <div class="col custom-col">
                          <label for="target-slector">Columna de Clasificación</label>
                          <select name="target" id="target-slector" class="form-control custom-input form-select form-select-lg mb-3" aria-label="Large select example">
                            {% for option in form %}
                              <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      {% elif status == 'Add' %}
                        <h5 class="q-vars-header">Descripción de variables.</h5>
                        {% for var in variables %}
                          <div class="col col-lg-6 custom-col">
                            <label>{{ var }}</label>
                            <textarea class="form-control custom-input" placeholder="Descripción..." type="text" name="{{ var }}"></textarea>
                          </div>
                        {% endfor %}
                        <h5 class="q-vars-header">Valores de las posibles variables cualitativas.</h5>
                        {% for col in form %}
                          <input type="text" name="Q-Variable-{{ col.name }}" value="{{ col.name }}" hidden />
                          <div class="col col-lg-6 custom-col custom-qualitative-col">
                            <label>{{ col.name }}</label>
                            {% for var in col.variables %}
                              {% if col.values_on_current[loop.index-1]|string != var|string %}
                                <div class="col custom-col-no-media">
                                  <input class="form-control custom-input" placeholder="Original Value: {{ var }}" type="text" name="{{ col.name }}-{{ var }}" value="{{ col.values_on_current[loop.index-1] }}" />
                                </div>
                              {% else %}
                                <div class="col custom-col-no-media">
                                  <input class="form-control custom-input" placeholder="Original Value: {{ var }}" type="text" name="{{ col.name }}-{{ var }}" />
                                </div>
                              {% endif %}
                            {% endfor %}
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endif %}
                  </section>

                  <div class="navbar-right fet-navbar-right">
                    <button type="submit" id="cancel" style="display: none;" class="btn btn-warning submit" name="cancel" value="{{ status }}">

                      {% if status == 'Create' %}
                        {% if type == 'add' %}
                          Cancelar
                        {% else %}
                          Atrás
                        {% endif %}
                      {% else %}
                        Atrás
                      {% endif %}
                    </button>
                    <button type="submit" id="submit" disabled class="btn btn-default submit" name="{{ status }}">
                      {% if status == 'Create' %}
                        Aceptar
                      {% elif status != 'Add' %}
                        Siguiente
                      {% elif type != 'add' %}
                        Modificar
                      {% else %}
                        Crear
                      {% endif %}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='build/js/add_model.js') }}"></script>
  <script src="{{ url_for('static', filename='build/js/add_model_classifier.js') }}"></script>
{% endblock %}
