{% extends 'base_site.html' %}

{% block title %}
  Manage Classifiers
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css" />
  <style>
    .dataTables_filter {
      width: unset !important;
    }
    
    #classifier_data {
      width: 100% !important;
      /*text-align: center !important;*/
      align-items: center;
    }
    
    #classifier_data th {
      background-color: #04aa6d;
      color: white;
      padding: 0.5rem;
    }
    
    th,
    td {
      border-bottom: 1px solid #ddd;
      text-align: center !important;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
          <div style="width: 100%; min-height:800px;">
            <h2 style="font-weight: bold; margin-bottom: 1.5rem; text-align: center;">MODELOS DE CLASIFICACIÓN</h2>
            <table id="classifier_data">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Valor Estudiado</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content .bg-danger">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class="fa fa-trash"></i> Eliminar Modelo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="background-color: #dc3535; color: white;">
            ¿Está seguro que desea eliminar el modelo? <br>
            Esta acción es irreversible
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteModel()">Eliminar</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascripts %}
  {{ super() }}

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

  <script>
    let modelForDelete = null;
    const saveModelId = (id) => {
      modelForDelete = id;
      console.log(modelForDelete);
    }

    let table = $('#classifier_data').DataTable({
      ajax: '/INTERNAL_API/classifier/list',
      columns: [{ data: 'id' }, { data: 'name' }, { data: 'model_description' }, { data: 'target_row' }, { data: 'name' }],
      columnDefs: [
        {
          targets: [-1],
          class: 'text-center',
          orderable: false,
          render: function (data, type, row) {
            var buttons = '<a href="/DashExample/app2?model_id=' + row.id + '" class="btn btn-success btn-xs btn-flat"><i class="fa fa-check"></i></a> '
            buttons += '<a href="' + row.id + '" class="btn btn-warning btn-xs btn-flat"><i class="fa fa-edit"></i></a> '
            buttons += '<a href="' + row.id + '" type="button" class="btn btn-danger btn-xs btn-flat" data-bs-toggle="modal" onclick="saveModelId(' + row.id + ')" data-bs-target="#staticBackdrop"><i class="fa fa-trash"></i></a>'
            return buttons
          }
        }
      ]
    })
    const deleteModel = async () => {
      response = await fetch('http://127.0.0.1:5000/INTERNAL_API/classifier/delete', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: modelForDelete,
      })

      res = await response.json().then((value) => {
        console.log(value)
        if (value.status == 200) {
          table.ajax.reload()
        }
        modelForDelete = null;
      })

    }
  </script>
{% endblock %}
