{% extends 'base_site.html' %}

{% block title %}
  Classifier
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <style>
    .custom-file-input {
      width: 350px;
      max-width: 100%;
      color: #444;
      padding: 5px;
      background: #fff;
      border-radius: 10px;
      border: 1px solid #555;
    }
    .custom-file-input::file-selector-button {
      margin-right: 20px;
      border: none;
      background: #084cdf;
      padding: 10px 20px;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
      transition: background 0.2s ease-in-out;
    }
    
    .custom-file-input:focus::file-selector-button,
    .custom-file-input::file-selector-button:hover {
      background: #0d45a5;
    }
    
    .drop-container {
      position: relative;
      display: flex;
      gap: 2px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%%;
      padding: 10px;
      border-radius: 10px;
      border: 2px dashed #555;
      color: #444;
      cursor: pointer;
      transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
    }
    
    .drop-container:hover {
      background: #eee;
      border-color: #111;
    }
    
    .drop-container:hover .drop-title {
      color: #222;
    }
    
    .drop-title {
      color: #444;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      transition: color 0.2s ease-in-out;
    }
    .drop-container.drag-active {
      background: #eee;
      border-color: #111;
    }
    
    .drop-container.drag-active .drop-title {
      color: #222;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
          <div style="width: 100%; min-height:100vh;">
            <div class="login_wrapper">
              <div class="animate form login_form">
                <section class="login_content">
                  <form data-parsley-validate method="post">
                    <h1>Add Classifier Model</h1>
                    {% for field in form if field.widget.input_type != 'hidden' %}
                      {% if field.widget.input_type == 'file' %}
                        <div style="margin-bottom: 20px;">
                          <label for="images" class="drop-container" id="dropcontainer-{{ field.id }}">
                            <span class="drop-title">Drop {{ field.label }} here</span>
                            {{ field(class='custom-file-input', placeholder=field.label.text) }}
                          </label>
                        </div>
                      {% else %}
                        <div style="margin-bottom: 20px;">{{ field(class='form-control', placeholder=field.label.text) }}</div>
                      {% endif %}
                    {% endfor %}
                    <div>
                      <button type="submit" class="btn btn-default submit" name="Add">Add</button>
                    </div>
                    <div class="clearfix"></div>
                  </form>
                  <h4>{{ status }}</h4>
                </section>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ super() }}
  <script>
    const dropContainerModel = document.getElementById('dropcontainer-model')
    const dropContainerDataset = document.getElementById('dropcontainer-model-data-set')
    const fileInputModel = document.getElementById('model')
    const fileInputDataset = document.getElementById('model-data-set')
    
    const drag_and_drop_event = (container, fileInput) => {
      container.addEventListener(
        'dragover',
        (e) => {
          // prevent default to allow drop
          e.preventDefault()
        },
        false
      )
    
      container.addEventListener('dragenter', () => {
        container.classList.add('drag-active')
      })
    
      container.addEventListener('dragleave', () => {
        container.classList.remove('drag-active')
      })
    
      container.addEventListener('drop', (e) => {
        e.preventDefault()
        container.classList.remove('drag-active')
        fileInput.files = e.dataTransfer.files
      })
    }

    drag_and_drop_event(dropContainerModel, fileInputModel)
    drag_and_drop_event(dropContainerDataset, fileInputDataset)
  </script>
{% endblock %}
