{% extends 'base_site.html' %}

{% block title %}
  Manage Regressors
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css" />
  <style>
    .dataTables_filter {
      width: unset !important;
    }
    
    #regressor_data {
      width: 100% !important;
      /*text-align: center !important;*/
      align-items: center;
    }
    
    #regressor_data th {
      background-color: #04aa6d;
      color: white;
      padding: 0.5rem;
    }
    
    th,
    td {
      border-bottom: 1px solid #ddd;
      text-align: center !important;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph" style="width: 100% !important;">
          <div style="width: 100%;">
            <h2 style="font-weight: bold; margin-bottom: 1.5rem; text-align: center;">MODELOS DE REGRESIÓN</h2>
            <table id="regressor_data">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Valor Estudiado</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ super() }}

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

  <script>
    let table = $('#regressor_data').DataTable({
      ajax: '/INTERNAL_API/regression/list',
      columns: [{ data: 'id' }, { data: 'name' }, { data: 'model_description' }, { data: 'target_row' }, { data: 'name' }],
      columnDefs: [
        {
          targets: [-1],
          class: 'text-center',
          orderable: false,
          render: function (data, type, row) {
            var buttons = '<a href="/DashExample/app1?model_id=' + row.id + '" class="btn btn-success btn-xs btn-flat"><i class="fa fa-check"></i></a> '
            buttons += '<a href="' + row.id + '" class="btn btn-warning btn-xs btn-flat"><i class="fa fa-edit"></i></a> '
            buttons += '<a href="' + row.id + '" type="button" class="btn btn-danger btn-xs btn-flat"><i class="fa fa-trash"></i></a>'
            return buttons
          }
        }
      ]
    })
  </script>
{% endblock %}
