{% extends 'base_site.html' %}

{% block title %}
  Manage Regressors
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/datatable/datatables.min.css') }}" rel="stylesheet">
  <style>
    .dataTables_filter {
      width: unset !important;
    }
    
    #regressor_data {
      width: 100% !important;
      /*text-align: center !important;*/
      align-items: center;
    }
    
    #regressor_data th {
      background-color: #095e49;
      color: white;
      padding: 0.5rem;
    }
    
    th,
    td {
      border-bottom: 1px solid #ddd;
      text-align: center !important;
    }

    tr.selected {
      background-color: darkorange;
      color: white;
      font-weight: bold;
    }

    tr {
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" style="position: initial">
      <div class="dashboard_graph">
        <div style="width: 100%; padding: 1rem">
          <h2 style="font-weight: bold; margin-bottom: 1.5rem; text-align: center;" id="regressors-title"></h2>
          <table id="regressor_data">
            <thead>
            <tr>
              <th id="regressors-table-id"></th>
              <th id="regressors-table-name"></th>
              <th id="regressors-table-description"></th>
              <th id="regressors-table-target"></th>
              <th id="regressors-table-options"></th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="clearfix"></div>
        <a href="/processor/add_regressor" style="margin: 3rem;" class="btn btn-success">
          <i class="fa fa-sitemap"></i> <span id="regressors-add-btn"></span>
        </a>
        <button id="open-comparison" style="margin: 3rem;" onclick="redirect('regression')" class="btn btn-warning"
                disabled>
          <i class="fa fa-sitemap"></i> <span id="regressors-compare-btn"></span>
        </button>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content .bg-danger">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class="fa fa-trash"></i> <span
                  id="regressors-modal-title"></span></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background-color: #dc3535; color: white;" id="regressors-modal-description"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                  id="regressors-modal-cancel-btn"></button>
          <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteModel('regressor')"
                  id="regressors-modal-delete-btn"></button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ super() }}

  <script src="{{ url_for('static', filename='vendors/datatable/datatables.min.js') }}"></script>

  <script>
    (async()=>{
      const regressorTranslations = await t(["regressors"]);
      window.document.getElementById('regressors-title').innerHTML = regressorTranslations['title'] ?? 'regressors.title';
      window.document.getElementById('regressors-add-btn').innerHTML = regressorTranslations['add-btn'] ?? 'regressors.add-btn';
      window.document.getElementById('regressors-compare-btn').innerHTML = regressorTranslations['compare-btn'] ?? 'regressors.compare-btn';

      const tableRgsTranslations = regressorTranslations['table'] ?? {};
      window.document.getElementById('regressors-table-id').innerHTML = tableRgsTranslations['id'] ?? 'regressors.table.id';
      window.document.getElementById('regressors-table-name').innerHTML = tableRgsTranslations['name'] ?? 'regressors.table.name';
      window.document.getElementById('regressors-table-description').innerHTML = tableRgsTranslations['description'] ?? 'regressors.table.description';
      window.document.getElementById('regressors-table-target').innerHTML = tableRgsTranslations['target'] ?? 'regressors.table.target';
      window.document.getElementById('regressors-table-options').innerHTML = tableRgsTranslations['options'] ?? 'regressors.table.options';

      const modalRgsTranslations = regressorTranslations['modal'] ?? {};
      window.document.getElementById('regressors-modal-title').innerHTML = modalRgsTranslations['title'] ?? 'regressors.modal.title';
      window.document.getElementById('regressors-modal-description').innerHTML = modalRgsTranslations['description'] ?? 'regressors.modal.description';
      window.document.getElementById('regressors-modal-cancel-btn').innerHTML = modalRgsTranslations['cancel-btn'] ?? 'regressors.modal.cancel-btn';
      window.document.getElementById('regressors-modal-delete-btn').innerHTML = modalRgsTranslations['delete-btn'] ?? 'regressors.modal.delete-btn';

    })();
  </script>

  <script>
    let table;
    let modelForDelete = null;
    let selectedModels = [];

    const comparison_btn = document.getElementById('open-comparison');
    const saveModelId = (id) => {
      modelForDelete = id;
      console.log(modelForDelete);
    }

    (async ()=> {
      table = $('#regressor_data').DataTable({
        ajax: '/INTERNAL_API/regression/list',
        language: { url: `/static/languages/datatable-${await t(['lang'])}.json` },
        select: {
          style: 'multi'
        },
        columns: [{ data: 'id' }, { data: 'name' }, { data: 'model_description' }, { data: 'target_row' }, { data: 'name' }],
        columnDefs: [
          {
            targets: [-1],
            class: 'text-center',
            orderable: false,
            render: function (data, type, row) {
              var buttons = '<a href="/dashboard/regression?model_id=' + row.id + '" class="btn btn-success btn-xs btn-flat"><i class="fa fa-check"></i></a> '
              buttons += '<a href="/processor/edit_regressor/' + row.id + '" class="btn btn-warning btn-xs btn-flat"><i class="fa fa-edit"></i></a> '
              buttons += '<a href="" type="button" class="btn btn-danger btn-xs btn-flat" data-bs-toggle="modal" onclick="saveModelId(' + row.id + ')" data-bs-target="#staticBackdrop"><i class="fa fa-trash"></i></a>'
              return buttons
            }
          }
        ]
      })

      table.on('select deselect', function ( e, dt, type, ix ) {
        var selected = dt.rows({selected: true});
        console.log('selected: ', selected[0]);
        if ( selected[0].length > 2 ) {
          dt.rows(ix).deselect();
          comparison_btn.disabled = false;
        } else {
          selectedModels = []
          selected[0].forEach((selection)=>{
            console.log('selection: ', selection);
            selectedModels.push(table.cell(selection, 0).data());
          })
          if (selectedModels.length < 2) {
            comparison_btn.disabled = true;
          } else {
            comparison_btn.disabled = false;
          }
          console.log('selectedModels: ', selectedModels);
        }
      })
    })();

    const deleteModel = async (modelType) => {
      response = await fetch(`/INTERNAL_API/${modelType}/delete`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: modelForDelete,
      })

      res = await response.json().then((value) => {
        console.log(value)
        if (value.status == 200) {
          table.ajax.reload()
        }
        modelForDelete = null;
      })
      comparison_btn.disabled = true;
      selectedModels = []
    }

    const redirect = (modelType) => {
      const enlace = document.createElement('a');
      enlace.href = `/dashboard/${modelType}/comparison?model_1_id=${selectedModels[0]}&model_2_id=${selectedModels[1]}`;
      enlace.click()
    }
  </script>
{% endblock %}
