<div class="left_col scroll-view" style="height: 100%; width: 100%; display: flex; flex-direction: column;">
  <div class="profile clearfix" id="sidebar-site-logo">
    <h3 style="color: white; font-weight: bold; padding: 0 1rem; line-height: unset; text-transform: uppercase; margin-top: 1.5rem; text-align: center;">
      <i class="fa fa-tree" ></i>
      <span id="app-name-sidebar"></span>
      <i class="fa fa-tree"></i>
    </h3>
  </div>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="flex-grow: 2;">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li style="width: 100%" class="sidebar-list-button" id="home-list-button">
          <a data-toggle="tooltip" id="home-btn-link" href="/home" class="sidebar-link">
            <i class="fa fa-home sidebar-icon"></i>
            <span class="sidebar-item" id="home-btn"></span>
          </a>
        </li>

        <li style="width: 100%" class="sidebar-list-button" id="classifier-list-button">
          <a data-toggle="tooltip" id="classifier-btn-link" class="sidebar-link" style="overflow: hidden; text-overflow: ellipsis;" href="/processor/manage_classifiers">
            <i class="fa fa-pie-chart sidebar-icon"></i>
            <span class="sidebar-item" id="classifier-btn"></span>
          </a>
        </li>

        <li style="width: 100%" class="sidebar-list-button" id="regressor-list-button">
          <a data-toggle="tooltip" id="regressor-btn-link" href="/processor/manage_regressors" class="sidebar-link">
            <i class="fa fa-line-chart sidebar-icon"></i>
            <span class="sidebar-item" id="regressor-btn"></span>
          </a>
        </li>
        <li style="width: 100%">
          <div class="accordion accordion-flush" id="configuration-collapse">
            <div class="accordion-item" style="background-color: transparent; border: none;">
              <a class="accordion-header collapsed sidebar-link sidebar-list-button" id="config-btn-link" style="background-color: transparent; border: none; color: white; padding-bottom: 18px;" data-toggle="tooltip" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <i class="fa fa-cogs sidebar-icon"></i>
                <span class="sidebar-item" style="margin-right: 2rem; font-size: 13px" id="config-btn"></span>
                <i id="chevron-icon-sidebar" class="fa fa-chevron-down ml-2" style="font-size: 12px;"></i>
              </a>
              <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#configuration-collapse">
                <div class="accordion-body">
                  <ul class="nav dropdown-config">
                    {% if Is_admin %}
                      <li>
                        <a class="sidebar-link" data-toggle="tooltip" id="config-sidebar-link" href="/setting/manage_users" style="color: white;">
                          <i class="fa fa-user sidebar-icon"></i>
                          <span class="sidebar-item" id="config-sidebar"></span>
                        </a>
                      </li>
                      <li>
                        <a class="sidebar-link" data-toggle="tooltip" id="add-user-sidebar-link" href="/setting/add_user" style="color: white;">
                          <i class="fa fa-user-plus sidebar-icon"></i>
                          <span class="sidebar-item" id="add-user-sidebar"></span>
                        </a>
                      </li>
                    {% endif %}
                    <li>
                      <a class="sidebar-link" data-toggle="tooltip" id="password-sidebar-link" href="/setting/change_password" style="color: white;">
                        <i class="fa fa-key sidebar-icon"></i>
                        <span class="sidebar-item" id="password-sidebar"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div id="sidebar-footer" class="sidebar-footer">
    {% if Is_admin %}
      <a data-toggle="tooltip" data-placement="top" id="config-adm-bottom-btn" href="/setting/manage_users"><span class="fa fa-cog" aria-hidden="true"></span></a>
    {% else %}
      <a data-toggle="tooltip" data-placement="top" id="configa-usr-bottom-btn" href="/setting/change_password"><span class="fa fa-cogs" aria-hidden="true"></span></a>
    {% endif %}
    <a data-toggle="tooltip" onclick="hide_sidebar()" data-placement="top" id="full-screen-btn"><span class="fa fa-desktop" aria-hidden="true"></span></a>
    <a data-toggle="tooltip" data-placement="top" id="exit-bottom-btn" href="/logout"><span class="fa fa-sign-out" aria-hidden="true"></span></a>
  </div>
  <!-- /menu footer buttons -->

  <script>
    if (location.pathname == '/home/') {
      document.getElementById('home-list-button').classList.add('opened-page');
    } else if (
    location.pathname == '/processor/manage_classifiers' ||
    location.pathname == '/processor/add_classifier' ||
    location.pathname.includes('/processor/edit_classifier') ||
    location.pathname == '/dashboard/classification' ||
    location.pathname == '/dashboard/classifier/comparison'
    ) {
      document.getElementById('classifier-list-button').classList.add('opened-page');
    } else if (
    location.pathname == '/processor/manage_regressors' ||
    location.pathname == '/processor/add_regressor' ||
    location.pathname.includes('/processor/edit_regressor') ||
    location.pathname == '/dashboard/regression' ||
    location.pathname == '/dashboard/regression/comparison'
    ) {
      document.getElementById('regressor-list-button').classList.add('opened-page');
    } else if (
    location.pathname == '/setting/manage_users' ||
    location.pathname == '/setting/change_password' ||
    location.pathname == '/setting/add_user' ||
    location.pathname == '/setting/manage_users' ||
    location.pathname == '/setting/manage_users'
    ) {
      document.getElementById('config-btn-link').classList.add('opened-page');
    }

    (async() => {
      const sidebarTranslations = await t(["sidebar"]);

      const app_name = await t(["app-name"]);
      window.document.getElementById('app-name-sidebar').innerHTML = typeof app_name !== 'object' ? app_name : "<span>ARBOL<span style=\"color: #ffcb00;\">EX</span></span>";

      window.document.getElementById('home-btn').innerHTML = sidebarTranslations["home-btn"] ?? 'sidebar.home-btn';
      window.document.getElementById('home-btn-link').title = sidebarTranslations["home-btn"] ?? 'sidebar.home-btn';

      window.document.getElementById('classifier-btn').innerHTML = sidebarTranslations["classifier-btn"] ?? 'sidebar.classifier-btn';
      window.document.getElementById('classifier-btn-link').title = sidebarTranslations["classifier-btn-link"] ?? 'sidebar.classifier-btn-link';

      window.document.getElementById('regressor-btn').innerHTML = sidebarTranslations["regressor-btn"] ?? 'sidebar.regressor-btn';
      window.document.getElementById('regressor-btn-link').title = sidebarTranslations["regressor-btn-link"] ?? 'sidebar.regressor-btn-link';


      window.document.getElementById('config-btn').innerHTML = sidebarTranslations["config-btn"] ?? 'sidebar.config-btn';
      window.document.getElementById('config-btn-link').title = sidebarTranslations["config-btn-link"] ?? 'sidebar.config-btn-link';

      if (document.getElementById('config-sidebar')) {
        document.getElementById('config-sidebar').innerHTML = sidebarTranslations["config"] ?? 'sidebar.config';
        document.getElementById('config-sidebar-link').title = sidebarTranslations["config-sidebar-link"] ?? 'sidebar.config-sidebar-link';

        document.getElementById('add-user-sidebar').innerHTML = sidebarTranslations["add-user"] ?? 'sidebar.add-user';
        document.getElementById('add-user-sidebar-link').title = sidebarTranslations["add-user-sidebar-link"] ?? 'sidebar.add-user-sidebar-link';
      }

      window.document.getElementById('password-sidebar').innerHTML = sidebarTranslations["password"] ?? 'sidebar.password';
      window.document.getElementById('password-sidebar-link').title = sidebarTranslations["password-sidebar-link"] ?? 'sidebar.password-sidebar-link';

      if (window.document.getElementById('config-adm-bottom-btn')) {
        window.document.getElementById('config-adm-bottom-btn').title = sidebarTranslations["config-bottom-btn"] ?? 'sidebar.config-bottom-btn';
      } else{
        window.document.getElementById('configa-usr-bottom-btn').title = sidebarTranslations["config-btn-link"] ?? 'sidebar.config-btn-link';
      }
      window.document.getElementById('full-screen-btn').title = sidebarTranslations["full-screen-btn"] ?? 'sidebar.full-screen-btn';
      window.document.getElementById('exit-bottom-btn').title = sidebarTranslations["exit"] ?? 'sidebar.exit';

    })();

    const myCollapsible = document.getElementById('configuration-collapse')
    const chevronIcon = document.getElementById('chevron-icon-sidebar')
    myCollapsible?.addEventListener('hidden.bs.collapse', event => {
      chevronIcon.classList.remove('fa-chevron-up');
      chevronIcon.classList.add('fa-chevron-down');
    })
    myCollapsible?.addEventListener('shown.bs.collapse', event => {
      chevronIcon.classList.remove('fa-chevron-down');
      chevronIcon.classList.add('fa-chevron-up');
    })


  </script>
</div>
