<div class="nav_menu" style="background-color: #095e49c4; color: white;">
  <nav>
    <div class="nav toggle" style="padding-top: 0; margin-left: 7px;">
      <a id="menu_toggle" onclick="show_sidebar()"><i class="fa fa-bars"></i></a>
    </div>
    <div id="logo-tob-bar" style="margin-left: 1rem; padding-top: 1.5rem; float: left; display: none;">
      <i class="fa fa-tree"></i>
      <span id="app-name"></span>
      <i class="fa fa-tree"></i>
    </div>
    <img
            src="/static/images/logo-cujae.png"
            alt=""
            style="
              height: 45px;
              margin: 4px -3px;
              float: right;
              filter:
                drop-shadow(-1px 1px 0.5px rgb(255, 255, 255))
                drop-shadow(1px -1px 0.5px rgb(255, 255, 255))
                drop-shadow(-1px -1px 0.5px rgb(255, 255, 255))
                drop-shadow(1px 1px 0.5px rgb(255, 255, 255));
            "
    >
    <ul class="nav navbar-nav navbar-right" style="width: min-content; margin: 4px; float: right;">
      <li class="my-3" style="text-align: end; margin-right: 1rem; color: white;">
        <div class="dropdown" id="language">
          <a id="lang-selector-text" href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
             aria-expanded="false" onclick="show_toggle_lang()" style="color: white;">
          </a>
          <div style="position: absolute; margin-top: 20px; display: flex;  justify-content: flex-end; left: -10px;">
            <ul class="pull-right"
                style="
                  width: min-content;
                  line-height: 14px;
                  display: none;
                  background-color: rgba(6, 86, 48, 0.91);
                  border-radius: 5px;
                  padding: 0;
                  border: 1px solid #D9DEE4;
                  border-top-left-radius: 0;
                  border-top-right-radius: 0;
                "
                id="dropdown-language-on-top-bar">
              <li class="language-label" onclick="changeLanguage('es')">
                <input type="radio" id="es" name="currentLanguage" class="currentLanguage"/>
                <label for="es">Español</label>
              </li>
              <li class="language-label" onclick="changeLanguage('en')">
                <input type="radio" id="en" name="currentLanguage" class="currentLanguage"/>
                <label for="en">English</label>
              </li>
              <li class="language-label" onclick="changeLanguage('ru')">
                <input type="radio" id="ru" name="currentLanguage" class="currentLanguage"/>
                <label for="ru">Русский</label>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="width: min-content; float: right; margin-top: 3px;">
      <li class="my-2" style="text-align: end; margin-right: 1rem;">
        <div class="dropdown" id="configuration">
          <a href="#" class="user-profile dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false"
             onclick="show_toggle()" style="color: white !important; white-space: wrap;">
            <span id="welcome-message" style="white-space: nowrap;"></span>
            {{ current_user.username }}
          </a>
          <div style="position: absolute; margin-top: 6px; display: flex; justify-content: flex-end; right: -10px;">
            <ul class="dropdown-menu dropdown-usermenu pull-right" style="width: min-content; line-height: 24px; background-color: rgba(6, 86, 48, 0.91)"
                id="dropdown-content-on-top-bar">
              {% if Is_admin %}
                <li><a href="/setting/manage_users" class="config-label"><span id="top-bar-config-adm"></span> <i class="fa fa-cogs pull-right"></i></a></li>
              {% else %}
                <li><a href="/setting/change_password" class="config-label"><span id="top-bar-config-usr"></span> <i class="fa fa-cog pull-right"></i></a></li>
              {% endif %}
              <li><a href="/logout" class="config-label"><span id="top-bar-exit"></span> <i class="fa fa-sign-out pull-right"></i></a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </nav>

  <script>
    let opened = false;
    let openedLang = false;
    window.addEventListener('click', () => {
      if (content.style.display === 'unset' && !opened) {
        content.style.display = 'none';
      }
      opened = false;

      if (langageDrop.style.display === 'unset' && !openedLang) {
        langageDrop.style.display = 'none';
      }
      openedLang = false;
    })
    const content = document.getElementById('dropdown-content-on-top-bar')
    const langageDrop = document.getElementById('dropdown-language-on-top-bar')

    const show_toggle_lang = () => {
      if (langageDrop.style.display === 'none' || langageDrop.style.display === '') {
        langageDrop.style.display = 'unset';
        openedLang = true;
      } else {
        langageDrop.style.display = 'none';
        openedLang = false;
      }
    }

    const show_toggle = () => {
      if (content.style.display === 'none' || content.style.display === '') {
        content.style.display = 'unset';
        opened = true;
      } else {
        content.style.display = 'none';
        opened = false;
      }
    }

    const changeLanguage = async (lang) => {
      // get
      response = await fetch(`http://127.0.0.1:5000/INTERNAL_API/changeLanguage`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: lang,
      })

      const text = response.json().then((value) => {
//        console.log(value)
        return
      }).then(() => window.location.reload());
    }

    (async() => {

      const currentLanguage = await t(["lang"]);
      for (const language of document.getElementsByClassName('currentLanguage')) {
//        console.log('language: ', language.id);
        if (language.id === currentLanguage) {
          language.checked = true;
        }
      }
      document.getElementById('lang-selector-text').innerHTML = currentLanguage;
      const app_name = await t(["app-name"]);
      document.getElementById('app-name').innerHTML = typeof app_name !== 'object' ? app_name : "<span>ARBOL<span style=\"color: #ffcb00;\">EX</span></span>";
      const topBarTranslations = await t(["top-bar"]);
      const admConfig = document.getElementById('top-bar-config-adm');
      if (admConfig) admConfig.innerHTML = topBarTranslations["config"] ?? 'top-bar.config';
      const usrConfig = document.getElementById('top-bar-config-usr');
      if (usrConfig) usrConfig.innerHTML = topBarTranslations["config"] ?? 'top-bar.config';
      document.getElementById('top-bar-exit').innerHTML = topBarTranslations["exit"] ?? 'top-bar.exit';
      document.getElementById('welcome-message').innerHTML = topBarTranslations["msg"] ?? 'welcome.msg';
    })();
  </script>
</div>
