{% extends "base_site.html" %}

{% block title %} Change User Password {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph" style="margin-top: 10rem; padding: 3rem; width: fit-content !important;">
          <div>
            <div class="login_wrapper">
                <div class="animate form login_form">
                  <section class="login_content">
                    <form data-parsley-validate method="post">
                      <h1 id="change-pwd-title"></h1>
                      {% for field in form if field.widget.input_type != 'hidden'  %}
                        <div>
                          {{ field(class="form-control required", id=field.id) }}
                        </div>
                      {% endfor %}
                      <div>
                      <button type="submit" class="btn btn-default submit" name="Change" id="change-pwd-btn"></button>
                      </div>
                      <div class="clearfix"></div>
                    </form>
                    <h4>{{ status }}</h4>
                  </section>
                </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    (async()=>{
      const changePwdTranslations = await t(["change-pwd"]);
      document.getElementById('change-pwd-title').innerHTML = changePwdTranslations['title'] ?? 'change-pwd.title';
      document.getElementById('change-pwd-btn').innerHTML = changePwdTranslations['btn'] ?? 'change-pwd.btn';
      document.getElementById('origin-password').placeholder = changePwdTranslations['origin-password'] ?? 'change-pwd.origin-password';
      document.getElementById('new-password').placeholder = changePwdTranslations['new-password'] ?? 'change-pwd.new-password';
      document.getElementById('new-password2').placeholder = changePwdTranslations['new-password2'] ?? 'change-pwd.new-password2';
    })();
  </script>
{% endblock javascripts %}
