{% extends 'base_site.html' %}

{% block title %}
  Delete User
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <style>
    .btn {
      font-size: 14px !important;
      margin: 0 5px 5px 0 !important;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph" style="margin-top: 10rem; padding: 3rem; width: fit-content !important;">
          <div>
            <div class="login_wrapper">
              <div class="animate form login_form">
                <section class="login_content">
                  <form data-parsley-validate method="post">
                    <h1 id="delete-user-title"></h1>
                    <div>
                      <input id="username_delete" value="{{ user.username }}" name="username" readonly type="text" class="form-control required" />
                      <input id="useremail_delete" value="{{ user.email }}" name="username" readonly type="text" class="form-control required" />
                    </div>
                    <div>
                      <a href="/setting/manage_users" type="reset" class="btn btn-default" name="Delete" id="delete-user-back-btn"></a>
                      <button type="submit" class="btn btn-danger submit" name="Delete" id="delete-user-delete-btn"></button>
                    </div>
                    <div class="clearfix"></div>
                  </form>
                  <h4>{{ status }}</h4>
                </section>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ super() }}
  <script>
    (async()=>{
      const deleteUserTranslations = await t(["delete-user"]);
      window.document.getElementById('delete-user-title').innerHTML = deleteUserTranslations['title'] ?? 'delete-user.title';
      window.document.getElementById('delete-user-back-btn').innerHTML = deleteUserTranslations['back-btn'] ?? 'delete-user.back-btn';
      window.document.getElementById('delete-user-delete-btn').innerHTML = deleteUserTranslations['delete-btn'] ?? 'delete-user.delete-btn';
    })();
  </script>
{% endblock %}
