{% extends 'base_site.html' %}

{% block title %}
  Manage Users
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css" />
  <style>
    .dataTables_filter {
      width: unset !important;
    }
    
    #user_data {
      width: 100% !important;
      /*text-align: center !important;*/
      align-items: center;
    }
    
    #user_data th {
      background-color: #095e49;
      color: white;
      padding: 0.5rem;
    }
    
    th,
    td {
      border-bottom: 1px solid #ddd;
      text-align: center !important;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12" style="position: initial">
        <div class="dashboard_graph" style="width: 100% !important;">
          <div style="width: 100%;">
            <h2 style="font-weight: bold; margin-bottom: 1.5rem; text-align: center;">USUARIOS</h2>
            <table id="user_data">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="clearfix"></div>
          <a href="/setting/add_user" style="margin: 3rem;" class="btn btn-success">
            <i class="fa fa-user-plus"></i> Nuevo Usuario
          </a>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ super() }}

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

  <script>
    let table = $('#user_data').DataTable({
      ajax: '/INTERNAL_API/users/list',
      language: { url: '/static/languages/datatable-es.json' },
      columns: [{ data: 'id' }, { data: 'name' }, { data: 'email' }, { data: 'id' }],
      columnDefs: [
        {
          targets: [-1],
          class: 'text-center',
          orderable: false,
          render: function (data, type, row) {
            var buttons = '<a href="/setting/setting_password/' + row.id + '" class="btn btn-warning btn-xs btn-flat"><i class="fa fa-edit"></i></a> '
            buttons += '<a href="/setting/delete_user/' + row.id + '" type="button" class="btn btn-danger btn-xs btn-flat"><i class="fa fa-trash"></i></a>'
            return buttons
          }
        }
      ]
    })
  </script>
{% endblock %}
