{% extends "base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" style="background-color: white;" role="main">
    <iframe 
      noresize='noresize' 
      style='background: transparent; width: 100%; height:87vh; bottom: 0;' 
      src={{ dash_url }}
      frameborder="0">
    </iframe>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}  
{% endblock javascripts %}
