{% extends "base_site.html" %}

{% block title %} Page 403 {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block sidebar %}{% endblock sidebar %}

{% block top_navigation %}{% endblock top_navigation %}

{% block content_top %}
  <div style="padding: 7%; background-color: #ff00004d; height: 100%;">
    <div class="error-pages-container">
      <h1 class="error-number" id="error-title"></h1>
      <h2 id="error-header"></h2>
      <p id="error-text"></p>
      <div id="error-button-container" onclick="window.location.href='/login'">
        <span id="error-button"></span>
      </div>
    </div>
  </div>
{% endblock content_top %}

{% block footer %}{% endblock footer %}

{% block javascripts2 %}
  <script>
    (async()=>{
      const errorTranslations = await t(["error-pages", "403"]);
      console.log('errorTranslations: ', errorTranslations);
      document.getElementById('error-title').innerHTML = errorTranslations['title'] ?? 'error-pages.403.title';
      document.getElementById('error-header').innerHTML = errorTranslations['header'] ?? 'error-pages.403.heder';
      document.getElementById('error-text').innerHTML = errorTranslations['text'] ?? 'error-pages.403.text';
      document.getElementById('error-button').innerHTML = errorTranslations['button'] ?? 'error-pages.403.button';
    })();
  </script>
{% endblock javascripts2 %}