<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .remove-icon {
        display: flex;
        justify-content: space-between;
      }
      .remove-icon::after{
        display: none;
      }
      .sidebar-link {
        white-space: nowrap;
        padding-right: 3rem;
        padding-left: 20px;
        padding-right: 10px;
      }
      #body-container{
        background-image: url("/static/images/BACKGROUND.png");
      }
      .dropdown-config {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .dropdown-config li {
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        white-space: nowrap;
        color: white;
        width: 100%;
      }
      .dropdown-config li:first-child {
        border-top: 1px solid #ccc;
      }
      .dropdown-config li:last-child {
        border-bottom: none;
      }
      .dropdown-config li a::before {
        content: "\25CF";
        margin-right: 10px;
      }
    </style>
    {% block head %}
      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/ico" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock meta %}

      <title>FET! | {% block title %}{% endblock %}</title>

      {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ url_for('static', filename='vendors/bootstrap-5.3.3/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{{ url_for('static', filename='vendors/nprogress/nprogress.css') }}" rel="stylesheet">
        <!-- bootstrap-daterangepicker -->
        <link href="{{ url_for('static', filename='vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{{ url_for('static', filename='vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
        <!-- bootstrap-progressbar -->
        <link href="{{ url_for('static', filename='vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
        <!-- select2 -->
        <link href="{{ url_for('static', filename='vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">
      {% endblock stylesheets %}
      <!-- Custom Theme Style -->
      <link href="{{ url_for('static', filename='build/css/custom.css') }}" rel="stylesheet">
    {% endblock head %}
  </head>

  <body class="{% block body_class %} nav-md {% endblock body_class %}">
    {% block body %}
      <div class="main_container" style="width: 100vw; height: 100vh; margin-left: 0;">

        <div style="display: grid; grid-template-columns: min-content auto; gap: 0; height: 100%;">
          {% block sidebar %}
            <div id="sidebar-container" class="{% block sidebar_class %} {% endblock sidebar_class %}"
                 style="width: min-content; top: 0; left: 0; height: 100%; background-color: rgb(95, 118, 91); position: fixed;">
              {% include "site_template/sidebar.html" %}
            </div>
          {% endblock sidebar %}
          <div id="body-container" style="min-height: 100%; position: absolute; width: 100vw; right: 0px; height: fit-content;">
            {% block top_navigation %}
              <div id="top-nav-container" class="top_nav" style="margin-left: 0; position: fixed; right: 0; width: 100%;">
                {% include "site_template/top_navigation.html" %}
              </div>
            {% endblock top_navigation %}

            {% block content_top %}
              <div class="right_col" role="main" style="height: fit-content; min-height: 100vh; margin-left: 0; background-color: #0093ff2b; padding: 10px; padding-top: 7rem !important;">
                {% block content %}
                  <!-- {{ content }} -->
                {% endblock content %}
              </div>
            {% endblock content_top %}
            {% block footer %}
              <footer style="margin-left:0 !important; position: fixed; width: 100%; bottom: 0; right: 0; background-color: rgb(95, 118, 91);">
                {% include "site_template/footer.html" %}
              </footer>
            {% endblock footer %}
          </div>
        </div>
      </div>

      <script>
        const sidebar = document.getElementById('sidebar-container');
        const sidebarImage = document.getElementById('sidebar-img');
        const sidebarChevronIcon = document.getElementById('chevron-icon-sidebar');
        const sidebarItems = document.getElementsByClassName('sidebar-item');
        const sidebarIcons = document.getElementsByClassName('sidebar-icon');
        const body = document.getElementById('body-container');
        const topNav = document.getElementById('top-nav-container');
        const sidebarCollapseList = document.getElementById('collapseOne');

        const setSmallSideBar = () => {
          body.style.width = window.innerWidth + 'px';
          topNav.style.width = window.innerWidth + 'px';
          sidebarImage.style.display = 'none'
          sidebarChevronIcon.style.display = 'none'
          for (const item of sidebarItems) {
            item.style.display = 'none';
          }
          for (const icon of sidebarIcons) {
            icon.style.fontSize = '25px';
            icon.style.marginLeft = '0.5rem';
          }
          body.style.width = (window.innerWidth - sidebar.getBoundingClientRect().width) + 'px';
          topNav.style.width = (window.innerWidth - sidebar.getBoundingClientRect().width) + 'px';
          window.localStorage.setItem('sidebar-expanded', 'false');
        }

        const setNormalSideBar = () => {
          body.style.width = window.innerWidth + 'px';
          topNav.style.width = window.innerWidth + 'px';
          sidebarImage.style.display = 'unset'
          sidebarChevronIcon.style.display = 'unset'
          for (const item of sidebarItems) {
            item.style.display = 'unset';
          }
          for (const icon of sidebarIcons) {
            icon.style.fontSize = '18px';
            icon.style.marginLeft = '0';
          }
          body.style.width = (window.innerWidth - sidebar.getBoundingClientRect().width) + 'px';
          topNav.style.width = (window.innerWidth - sidebar.getBoundingClientRect().width) + 'px';
          window.localStorage.removeItem('sidebar-expanded');
        }

        const show_sidebar = (onClick = true) => {
          if (window.innerWidth <= 800) {
            if ((sidebar.style.display === 'none' && onClick) || window.localStorage.getItem('sidebar-mobile-expanded') === 'true' && !onClick) {
              sidebar.style.display = 'unset';
              setSmallSideBar();
              window.localStorage.setItem('sidebar-mobile-expanded', 'true');
            } else {

              sidebar.style.display = 'none';
              body.style.width = window.innerWidth + 'px';
              topNav.style.width = window.innerWidth + 'px';
              window.localStorage.setItem('sidebar-mobile-expanded', 'false');
            }
          } else if (sidebarImage.style.display !== 'none') {
            setSmallSideBar();
            window.localStorage.setItem('sidebar-mobile-expanded', 'false');
          } else {
            setNormalSideBar()
            window.localStorage.setItem('sidebar-mobile-expanded', 'false');
          }
        }

        if (window.localStorage.getItem('sidebar-expanded') === 'false') {
          show_sidebar(false);
        } else {
          body.style.width = (window.innerWidth - sidebar.getBoundingClientRect().width) + 'px';
          topNav.style.width = (window.innerWidth - sidebar.getBoundingClientRect().width) + 'px';
        }

        const checkPosition = ()=> {
          if (window.innerWidth <= 800 && window.localStorage.getItem('sidebar-mobile-expanded') !== 'true') {
            console.log('sidebar: ', window.localStorage.getItem('sidebar-mobile-expanded'));
            sidebar.style.display = 'none';
            body.style.width = window.innerWidth  + 'px';
            topNav.style.width = window.innerWidth  + 'px';
            window.localStorage.setItem('sidebar-mobile-expanded', 'false');
            window.localStorage.setItem('sidebar-expanded', 'false');
          } else {
            sidebar.style.display = 'unset';
            if (window.localStorage.getItem('sidebar-mobile-expanded') === 'true' && window.innerWidth <= 800 || window.localStorage.getItem('sidebar-expanded') === 'false') {
              setSmallSideBar();
            } else if(window.innerWidth > 800 && window.localStorage.getItem('sidebar-expanded') !== 'false'){
              setNormalSideBar()
            }
          }
          if (sidebar.style.display != 'none') {
            console.log('DISPLAYING');
            setTimeout(() => {console.log('sidebar.style.width: ', sidebar.getBoundingClientRect().width);
              body.style.width = (window.innerWidth - sidebar.getBoundingClientRect().width) + 'px';
              topNav.style.width = (window.innerWidth - sidebar.getBoundingClientRect().width) + 'px';
              console.log('body.style.width: ', body.style.width);
            }, 200);
          }
        }

        window.addEventListener('resize', checkPosition);
        sidebarCollapseList.addEventListener('transitionend', checkPosition);
      </script>
      {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
<!--        <script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>-->
        <script src="{{ url_for('static', filename='vendors/bootstrap-5.3.3/js/bootstrap.min.js') }}"></script>
        <!-- FastClick -->
        <script src="{{ url_for('static', filename='vendors/fastclick/lib/fastclick.js') }}"></script>
        <!-- NProgress -->
        <script src="{{ url_for('static', filename='vendors/nprogress/nprogress.js') }}"></script>
        <!-- bootstrap-progressbar -->
        <script src="{{ url_for('static', filename='vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
        <!-- iCheck -->
        <script src="{{ url_for('static', filename='vendors/iCheck/icheck.min.js') }}"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="{{ url_for('static', filename='vendors/moment/min/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="{{ url_for('static', filename='vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/google-code-prettify/src/prettify.js') }}"></script>
        <!-- jQuery Tags Input -->
        <script src="{{ url_for('static', filename='vendors/jquery.tagsinput/src/jquery.tagsinput.js') }}"></script>
        <!-- Select2 -->
        <script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.full.min.js') }}"></script>
        <!-- Autosize -->
        <script src="{{ url_for('static', filename='vendors/autosize/dist/autosize.min.js') }}"></script>
        <!-- starrr -->
        <script src="{{ url_for('static', filename='vendors/starrr/dist/starrr.js') }}"></script>
      {% endblock %}
      <!-- Custom Theme Scripts -->
      <script src="{{ url_for('static', filename='build/js/custom.js') }}"></script>
    {% endblock body %}
  </body>
</html>
